"Esto ha sido enviado desde pie A.T.S. El dispositivo {{ to_parse_version.hostname }}, es un {{ to_parse_version.platform }}, es un {{ to_parse_version.chassis }} corriendo {{ to_parse_version.os }} version {{ to_parse_version.version }} usando la imagen {{ to_parse_version.image_id }}. El dispositivo esta funcionando desde {{ to_parse_version.uptime | replace(","," ") }} y su ultimo reinicio fue el {{ to_parse_version.system_restarted_at | replace(","," ") }} debido a {{ to_parse_version.last_reload_reason | replace("\"","") | replace(","," ") }}. Tiene las siguientes interfaces {{ to_parse_version.number_of_intfs | replace("{","") | replace("}","") | replace(","," ") }}. Un total de {{ to_parse_version.main_mem }} {{ to_parse_version.mem_size | replace("{","") | replace("}","") | replace(","," ") }} esta siendo usado. El numero serial es {{ to_parse_version.chassis_sn }} con licencia tipo {{ to_parse_version.license_type }}"